fastapi==0.115.0
uvicorn[standard]==0.35.0
sqlalchemy==2.0.36
pydantic-settings==2.6.1
paho-mqtt==2.1.0
requests==2.32.3
opencv-python-headless==4.10.0.84
insightface==0.7.3
onnxruntime==1.18.1
numpy==1.24.4
python-multipart==0.0.6
psutil==6.1.0
